<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>game</title>
    
</head>
<body>
    {% if finished %}
    <script>
        alert('Vous avez trouvé le mot '+'{{word}}');
        window.location.href = "/";
    </script>
    {% endif %}
    <div class="jeux">
        <table>
            {% for rowIndex, row in rows %}
                <tr>
                    {% for columnIndex, column in row %}
                        {# Utilisation des index pour accéder aux couleurs correspondantes #}
                        <td class="cell" style="background-color: {{ colors[rowIndex][columnIndex] }}">{{ column }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {{ form_start(form) }}
        {{ form_row(form.word) }}
        {{ form_row(form.submit) }}
    {{ form_end(form) }}
    </div>
</body>
</html>
<style>
        /* Styles CSS pour les cases */
        html {
            display : flex;
            justify-content : center;
        }

        .table {
            border-collapse: collapse;
        }

        .jeux {
            justify-content : center;
        }

        .cell {
            width: 50px;
            height: 50px;
            border: 1px solid #000;
            padding: 5px; /* Espacement entre le contenu et les bords */
            text-align: center; /* Centrage du contenu */
            font-size: 30px; /* Taille du texte */
            font-weight: 900; /* Texte en gras */
        }
</style>